{
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "printWidth": 120,
    "semi": false,
    "tabWidth": 4,
    "trailingComma": "none",

    "overrides": [
        {
            "files": "**/*.md",
            "options": {
                "proseWrap": "preserve"
            }
        }
    ]
}
